BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "Q" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "SDO" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "NCS" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "Q" SITE "30" ;
LOCATE COMP "SDO" SITE "35" ;
LOCATE COMP "NCS" SITE "31" ;
LOCATE COMP "LED[1]" SITE "19" ;
LOCATE COMP "LED[2]" SITE "14" ;
LOCATE COMP "LED[3]" SITE "7" ;
LOCATE COMP "LED[4]" SITE "2" ;
LOCATE COMP "LED[5]" SITE "1" ;
LOCATE COMP "SCK" SITE "34" ;
LOCATE COMP "dub[0]" SITE "99" ;
LOCATE COMP "dub[1]" SITE "97" ;
LOCATE COMP "dub[2]" SITE "64" ;
LOCATE COMP "dub[3]" SITE "84" ;
LOCATE COMP "dub[4]" SITE "65" ;
LOCATE COMP "dub[5]" SITE "68" ;
LOCATE COMP "dub[6]" SITE "75" ;
LOCATE COMP "dub[7]" SITE "67" ;
LOCATE COMP "DSU" SITE "59" ;
LOCATE COMP "DSD" SITE "66" ;
LOCATE COMP "ddb[0]" SITE "98" ;
LOCATE COMP "ddb[1]" SITE "96" ;
LOCATE COMP "ddb[2]" SITE "88" ;
LOCATE COMP "ddb[3]" SITE "87" ;
LOCATE COMP "ddb[4]" SITE "86" ;
LOCATE COMP "ddb[5]" SITE "78" ;
LOCATE COMP "ddb[6]" SITE "69" ;
LOCATE COMP "ddb[7]" SITE "74" ;
IOBUF PORT "DSD" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dub[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DSU" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "ddb[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "RESET" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DRC" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "GRCV" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DMCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "GERR" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "GINC" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "RESET" SITE "28" ;
LOCATE COMP "DRC" SITE "24" ;
LOCATE COMP "GERR" SITE "29" ;
LOCATE COMP "GINC" SITE "17" ;
LOCATE COMP "GRCV" SITE "16" ;
LOCATE COMP "SHOW" SITE "8" ;
LOCATE COMP "HIDE" SITE "12" ;
IOBUF PORT "HIDE" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "SHOW" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "DMCK" SITE "4" ;
SYSCONFIG JTAG_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE ;
LOCATE COMP "TP[1]" SITE "95" ;
LOCATE COMP "TP[2]" SITE "94" ;
LOCATE COMP "TP[3]" SITE "90" ;
LOCATE COMP "TP[4]" SITE "91" ;
IOBUF PORT "TP[2]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[4]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
FREQUENCY NET "IOCK" 20.000000 MHz ;
