BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "Q" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "SDO" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "NCS" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 PULLMODE=UP SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "Q" SITE "30" ;
LOCATE COMP "SDO" SITE "35" ;
LOCATE COMP "NCS" SITE "31" ;
LOCATE COMP "LED[1]" SITE "19" ;
LOCATE COMP "LED[2]" SITE "14" ;
LOCATE COMP "LED[3]" SITE "7" ;
LOCATE COMP "LED[4]" SITE "2" ;
LOCATE COMP "LED[5]" SITE "1" ;
LOCATE COMP "SCK" SITE "34" ;
LOCATE COMP "dbu[0]" SITE "99" ;
LOCATE COMP "dbu[1]" SITE "97" ;
LOCATE COMP "dbu[2]" SITE "64" ;
LOCATE COMP "dbu[3]" SITE "84" ;
LOCATE COMP "dbu[4]" SITE "65" ;
LOCATE COMP "dbu[5]" SITE "68" ;
LOCATE COMP "dbu[6]" SITE "75" ;
LOCATE COMP "dbu[7]" SITE "67" ;
LOCATE COMP "DSU" SITE "59" ;
LOCATE COMP "DSD_in" SITE "66" ;
LOCATE COMP "dbd[0]" SITE "98" ;
LOCATE COMP "dbd[1]" SITE "96" ;
LOCATE COMP "dbd[2]" SITE "88" ;
LOCATE COMP "dbd[3]" SITE "87" ;
LOCATE COMP "dbd[4]" SITE "86" ;
LOCATE COMP "dbd[5]" SITE "78" ;
LOCATE COMP "dbd[6]" SITE "69" ;
LOCATE COMP "dbd[7]" SITE "74" ;
IOBUF PORT "DSD_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "dbu[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "dbu[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF SLEWRATE=NA DRIVE=NA ;
IOBUF PORT "DSU" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "dbd[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "DMRST" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "DMRC_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "DMCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN HYSTERESIS=LARGE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "DMERR" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
LOCATE COMP "DMRST" SITE "28" ;
LOCATE COMP "DMRC_in" SITE "24" ;
LOCATE COMP "DMERR" SITE "29" ;
LOCATE COMP "MRDY" SITE "17" ;
LOCATE COMP "DMCFG" SITE "16" ;
LOCATE COMP "DMCK" SITE "4" ;
SYSCONFIG JTAG_PORT=DISABLE MUX_CONFIGURATION_PORTS=ENABLE ;
LOCATE COMP "TP[1]" SITE "95" ;
LOCATE COMP "TP[2]" SITE "94" ;
LOCATE COMP "TP[3]" SITE "90" ;
LOCATE COMP "TP[4]" SITE "91" ;
IOBUF PORT "TP[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "TP[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF ;
FREQUENCY NET "IOCK" 20.000000 MHz ;
IOBUF PORT "DMCFG" PULLMODE=DOWN IO_TYPE=LVCMOS33 CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF HYSTERESIS=LARGE DRIVE=NA SLEWRATE=NA ;
IOBUF PORT "MRDY" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=8 DIFFRESISTOR=OFF OPENDRAIN=OFF CLAMP=OFF ;
